#player {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #333;
}


.js-video-container {
  width: 100%;
  height: 100%;
}

.js-play-button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-pause-button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-display, .js-progress {
  position: absolute;
  left: 20px;
  z-index: 10;
}

.js-play-button::before {
  content: '';
  display: block;
  width: 0; height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #fff;
}

.js-pause-button::before {
  content: '';
  display: block;
  height: 16px;
  width: 12px;
  background: linear-gradient(
    to right,
    #fff 0, #fff 4px,
    transparent 4px, transparent 8px,
    #fff 8px, #fff 12px
  );
}

.js-play-button[hidden],
.js-pause-button[hidden] {
  display: none !important;
}
.time-display  { top: 60px; }
.js-progress   { bottom: 40px; width: 80%; }